Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetivos:**

- Enumerar los lenguajes populares para la ciencia de datos
- Identificar bibliotecas comúnmente usadas en ciencia de datos
- Comprender cómo convertir unidades de tiempo (por ejemplo, minutos a horas) utilizando Python
- Aprender a trabajar con Jupyter Notebooks y celdas Markdown
- Explorar técnicas de visualización de datos en R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

# Herramientas de Ciencia de Datos

| Data Science Tools     |
|------------------------|
| Jupyter Notebook        |
| RStudio                |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition: `2 + 3` results in `5`
2. Subtraction: `5 - 2` results in `3`
3. Multiplication: `4 * 3` results in `12`
4. Division: `10 / 2` results in `5.0`
5. Exponentiation: `2 ** 3` results in `8`

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Lidia Esperanza Enriquez Chamba